<h1> Hero Form</h1>
<form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <div class="form-group">
        <label for="name">Hero Name</label>
        <input #name="ngModel" type="text" class="form-control" id="name"
            required
            [(ngModel)]="model.name" name="name">
        <div [hidden]="name.valid || name.pristine"
            class="alert alert-danger"> Hero Name is required</div>
    </div>
    <div class="form-group">
        <label for="alter-ego">Alter Ego</label>
        <input type="text" class="form-control" id="alter-ego"
            [(ngModel)]="model.alterEgo" alterEgo="alterEgo">
    </div>
    <div class="form-group">
        <label for="power">Hero Power</label>
        <select class="form-control" id="power" required
            [(ngModel)]="model.power" power="power">
            <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
        </select>
    </div>
    <button type="submit" class="btn btn-success"
        [disabled]="!heroForm.form.valid">Submit</button>
    <button type="button" class="btn btn-default"
        (click)="newHero(); heroForm.reset()"> Add Hero</button>
</form>